VITE_API_URL=http://localhost:8080/api/v1
VITE_WS_URL=ws://localhost:8080
VITE_BASE_PATH=/

VITE_DISABLE_AUTO_LOCATION_RETRIEVAL=true
VITE_ENABLE_GIS=true

# Login methods visibility (set to "false" to hide)
VITE_LOGIN_REGULAR=true
VITE_LOGIN_LDAP=true
VITE_LOGIN_SSO=true

CLIENT=VD2